body{
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: black;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    margin: 0 auto;

}

.navbar{
    display: inherit;
    justify-content: space-evenly;
    width: 55%;
    padding: 0;
    list-style: none;
}

.navbar-list{
    text-decoration: none;
    color: black;
}

.hero{
    /* background-image: url(../img/coffee-hero.jpg);
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 550px;
}

.hero-card{
    display: flex;
    flex-direction: column;
    height: inherit;
    text-align: center;
    justify-content: center;
    color: white;
}

.product-card{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 250px;
    margin: 40px auto;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.product-image-container{
    width: 50%;
    height: inherit;
    margin: 0;
}

.product-image{
    width: 100%;
    height: 100%;
}

.product-card-text{
    width: 50%;
    text-align: center;
    background: rgba(0, 0, 0, .1);
}

.product-card-text-contact{
    text-decoration: none;
    color: blue;
}



/* .product-card-text-contact{
    display: flex;
    justify-content: center;
}

.product-card-text-contact-tagp{
    margin: 5px;
} */