html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background: rgb(253, 187, 63);
}

/* main{
    display: grid;
    grid-template-columns: repeat(1,minmax(auto));
    grid-template-rows: repeat( 7,minmax(100vw));
} */

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.header{
    position: sticky;
    top: 0;
    background: rgb(253, 187, 63);
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}

.navbar{
    display: inherit;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 15vw;
}

.navbar li{
    margin-right: 10vw;
    list-style: none;
}

.navbar a:hover{
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 300ms;
    color: rgb(255, 252, 49);
    cursor: pointer;
    position: relative;
    top: -0.5vh;
}

.logo-container{
    position: fixed;
    top: 0;
    left: 20vw;
    margin: 0;
}

.hero{
    overflow: hidden;
    max-height: 75vh;
}

.hero-img{
    margin: 0;
    max-width: 100vw;
}

.article-product{
    display: flex;
    justify-content: center;
}

.product-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content ;
    margin: 8vh 0;
    border: 2px solid rgba(0, 0, 0, .5);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
}

.product-card-container{
    margin: 0;
    padding: 0;
    width: 50vw;
    height: 50vh;
}

.product-card-container img{
    width: 100%;
    height: 100%;
}

.product-card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: fit-content;
}

.text{
    margin: 2vh 0;
}

.contact{
    display: flex;
    justify-content: space-evenly;
}

.map{
    align-self: center;
    margin-bottom: 20px;
}