body{
    margin: 0;
    padding: 0;
    background: #ccc;
    color: black;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;

}

.navbar{
    display: inherit;
    justify-content: space-evenly;
    width: 55%;
    padding: 0;
    list-style: none;
}

.navbar-list{
    text-decoration: none;
    color: black;
}

.hero{
    /* background-image: url(../img/coffee-hero.jpg);
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 80vh;
}

.hero-card{
    display: flex;
    flex-direction: column;
    height: inherit;
    text-align: center;
    justify-content: center;
    color: white;
}

.product-card{
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 40vh;
    margin: 20vh auto;
    border: 2px solid black;
    border-radius: 1%;
}

.product-image-container{
    width: 50%;
    height: inherit;
    margin: 0;
}

.product-image{
    width: 100%;
    height: 100%;
}

.product-card-text{
    width: 50%;
    text-align: center;
    background: rgb(241, 241, 241);
}

.product-card-text-contact{
    text-decoration: none;
    color: black;
}



/* .product-card-text-contact{
    display: flex;
    justify-content: center;
}

.product-card-text-contact-tagp{
    margin: 5px;
} */