body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;

}

.navbar{
    display: inherit;
    justify-content: space-evenly;
    width: 55%;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hero{
    /* background-image: url(../img/coffee-hero.jpg);
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 80vh;
}

.hero-card{
    color: white;
}