:root{
    --dark-primary-color: #F57C00;
    --light-primary-color: #FFE0B2;
    --primary-color: #FF9800;
    --text-icons: #212121;
    --accent-colors: #8BC34A;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
}
body{
    margin: 0;
    padding: 0;
    background: var(--light-primary-color);
    color: var(--primary-text);
}
.header{
    background: var(--primary-color);
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 80px;
    margin: 0 auto;
}
.logo{
    margin: 0;
}
.navbar{
    display: inherit;
    justify-content: space-evenly;
    width: 55%;
    padding: 0;
    list-style: none;
    margin: 0;
}
.navbar-list{
    text-decoration: none;
    color: var(--primary-text);;
}
.navbar-list:hover{
    cursor: pointer;
    color: var(--secondary-text);
    position: relative;
    top: -5px;
}
.hero{
    /* background-image: url(../img/coffee-hero.jpg);
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 550px;
}

.hero-card{
    display: flex;
    flex-direction: column;
    height: inherit;
    text-align: center;
    justify-content: center;
}
.product-a, .product-b{
    padding: 40px 0;
}
.product-a{
    background: rgba(255, 152, 0, .4);
}
.product-b{
    background: rgba(255, 152, 0, .4);
}
.product-card{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 250px;
    margin: 0 auto;
    border: 4px solid var(--accent-colors);
    border-radius: 20px;
    overflow: hidden;
}

.product-image-container{
    width: 50%;
    height: inherit;
    margin: 0;
}

.product-image{
    width: 100%;
    height: 100%;
}

.product-card-text{
    width: 50%;
    text-align: center;
    background: var(--light-primary-color);
}

.product-card-text-contact{
    text-decoration: none;
    color: var(--secondary-text);
}
.contact{
    background: var(--divider-color);
    padding: 20px 0;
}
.contact-wrapper{
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}
.labels{
    position: relative;
    left: 100px;
}
.map{
    position: relative;
    left: -200px;
}

/* .product-card-text-contact{
    display: flex;
    justify-content: center;
}

.product-card-text-contact-tagp{
    margin: 5px;
} */