body{
    margin: 0;
    padding: 0;
    background: #ccc;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;

}

.navbar{
    display: inherit;
    justify-content: space-evenly;
    width: 55%;
    padding: 0;
    list-style: none;
}

.navbar-list{
    text-decoration: none;
    color: black;
}

.hero{
    /* background-image: url(../img/coffee-hero.jpg);
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 80vh;
}

.hero-card{
    display: flex;
    flex-direction: column;
    height: inherit;
    text-align: center;
    justify-content: center;
    color: white;
}

.product-card{
    display: flex;
    justify-content: center;
}

.product-image-container{
    width: 35vw;
    height: 35vh;
    border: 2px solid black;
}

.product-image{
    width: 100%;
    height: 100%;
}

.product-card-text{
    border: 2px solid black;
}