$background: rgb(246, 209, 134);

body{
    margin: 0;
    background-color: $background;
}

*{
    box-sizing: border-box;
}

@import "./components/_menu";
@import "./components/_hero";
@import "./components/_work";