$background: rgb(246, 209, 134);
/* PALETTE COLOR 
    main: f6d186 light orange
    second: fcf7bb light yellow
    third: cbe2b0 light green
    last: f19292 light red*/

body{
    margin: 0;
    background-color: $background;
}

*{
    box-sizing: border-box;
}

@import "./components/_menu";
@import "./components/_hero";
@import "./components/_work";