$font_title: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.hero{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    margin: 5vh 0;

    &__logo{
        grid-column: 1/1;
        grid-row: 1/1;
        margin: 3vh 5vw;
    }

    &__title{
        grid-column: 2/2;
        grid-row: 1/1;
        margin: 3vh 5vw;
        font-family: $font_title;
        font-size: 28pt;
    }
}