$font__title: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$radiant_center: rgba(255,255,255,.8);
$radiant_border: rgba(246, 209, 134,1);

.work{

    &__radiant{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 350px;
        height: 200px;
        border-radius: 50%;
        opacity: 35%;
        background-image: radial-gradient($radiant_center,$radiant_border);
    }

    &__textbox{
        width: 85vw;
        margin: 10vh auto;
    }

    &__title{
        text-align: center;
        font-family: $font__title;
    }

    &__text{
        text-align: justify;
        font-family: $font__title;
    }
}