$font__title: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$radiant_center: rgba(255,255,255,.8);
$radiant_border: rgba(246, 209, 134,1);

.work{

    &__radiant{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 350px;
        height: 200px;
        border-radius: 50%;
        opacity: 35%;
        background-image: radial-gradient($radiant_center,$radiant_border);
    }

    &__textbox{
        width: 85vw;
        margin: 10vh auto;
    }

    &__title{
        text-align: center;
        font-family: $font__title;
    }

    &__text{
        text-align: justify;
        font-family: $font__title;
    }

    &__slideshow{
        position: relative;
        width: 85vw;
        margin: 0 auto;
    }

    /*&__slides{
        display: none;
    }*/

    &__imgs{
        width: 100%;
    }

    &__prev, &__next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        padding: 10px;
        color: black;
        background-color: #cbe2b0;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0px 3px 3px 0px;
        user-select: none;
    }

    &__next{
        right: 0;
        border-radius: 3px 0px 0px 3px;
    }


}